.checkoutProduct {
  display: flex;
  padding: 30px;
}

.checkoutProduct_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct_info {
  padding: 20px 50px;
}

.checkoutProduct_title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct_rating {
  display: flex;
}

.checkoutProduct_info > button {
  background-color: #F7BD68;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 800;
}